/*
light dnd yellow: E0E8DE
dark dnd yellow: EAD9A6
light dnd green: B8CDB9
dnd red: 690F0F

*/


body {
  background: #EAD9A6;
  color: #000;
  font-family: "EB Garamond", serif;
}

#root {
  width: 100%;
}


.main-input {
  display: block
}

