/*
light dnd yellow: E0E8DE
dark dnd yellow: EAD9A6
light dnd green: B8CDB9
dnd red: 690F0F

*/


body {
  background: #EAD9A6;
  color: #000;
  font-family: "EB Garamond", serif;
}

#root {
  width: 100%;
}


.main-input {
  display: block
}

.main-title {
  font-size: 50px;
}

input:focus {
  outline: none; /* Removes the focus outline */
  border: none;  /* Removes any border if present */
}

.main-buttons {
  color: #fff;
  background-color: #690F0F;
  width: 100%;
  height: 60px;
  font-weight: bold;
}